 {% extends 'base.html' %}
 {% block content %}
<h1>✨ {{ application }} ✨</h1>
<h2><i>{{ tagline }}</i></h2>

<h2>⚽ Our Products</h2>
<a href="{% url 'main:add_product' %}">
     <button>+ Add New Product</button>
</a>

<hr>

{% if not products_list %}
<p>No products have been conjured yet. A little magic may bring them forth soon.</p>
{% else %}

{% for product in products_list %}
<div>
  <h2><a href="{% url 'main:show_detail_product' product.id %}">{{ product.product_name }}</a></h2>

  <p>
     <b>📌 {{ product.get_category_display }}</b> |
     <b>💲 Rp{{ product.price }}</b>
     {% if product.is_featured %} 
          | <b>✨ Featured Product</b>
     {% endif %}
     {% if product.is_product_hot %}  
          | <b>🔥 Hot Product</b>
     {% endif %} 
     </p>

  {% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br />
  {% endif %}

  <p>{{ product.description|truncatewords:20 }}...</p>

  <p><a href="{% url 'main:show_detail_product' product.id %}"><button>Read More</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}

<br>
<h3>📍 Visit us Here</h3>
<p>{{ address }}</p>
<h3>📱 Find us Here</h3>
<p>{{ instagram }}</p>
<br>
<h4>Credit to:</h4>
<p>NPM: {{ npm }}</p>
<p>Name: {{ name }}</p>
<p>Class: {{ class }}</p>

{% endblock content %}
