<h1>✨ {{ application }} ✨</h1>
<h2><i>{{ tagline }}</i></h2>

<h2>⚽ Our Products</h2>
<p> - Bola sepak (<i>Match Ball, Training Ball</i>) <br>
     - Bola edisi khusus (<i>Golden Snitch Edition, Limited Magic Series</i>) <br>
     - Sepatu bola (<i>Firm Ground, Soft Ground, Turf, Indoor</i>) <br>
     - Sarung tangan kiper (<i>Keeper's Charm Gloves, Golden Grip</i>) <br>
     - Jersey klub & tim nasional <br>
     - Jersey custom (<i>Golden Goals Signature Kit</i>) <br>
</p>
<h3>📍 Visit us Here</h3>
<p>{{ address }}</p>
<h3>📱 Find us Here</h3>
<p>{{ instagram }}</p>
<br>
<h4>Credit to:</h4>
<p>NPM: {{ npm }}</p>
<p>Name: {{ name }}</p>
<p>Class: {{ class }}</p>
