{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back</button></a></p>

<h1>{{ product.product_name }}</h1>

{% if product.thumbnail %}
    <img src="{{ product.thumbnail }}" alt="Product thumbnail" width="300">
    <br /><br />
{% endif %} 

<p><b>💲 Price: </b> Rp{{ product.price }}</p>
<p><b>⚽ Category: </b>{{ product.get_category_display }}</p>
<p><b>📝 Decription: </b>{{ product.description}}</p>
    
{% if product.is_featured %} 
    <b>✨ Featured Product</b>
{% endif %}
    
{% if product.is_product_hot %} 
    <b>🔥 Hot Product</b>
{% endif %}

{% if product.user %}
    <p><b>🧑🏻‍💻 Creator:</b> {{ product.user.username }}</p>
{% else %}
    <p><b>🧑🏻‍💻 Creator:</b> Anonymous</p>
{% endif %}

{% endblock content %}